<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967983553068-m5f4s56fn380f7s7pf5j94d054lhbdvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967983553068-m5f4s56fn380f7s7pf5j94d054lhbdvv</string>
	<key>API_KEY</key>
	<string>AIzaSyAN6z1xogv7b56deWy0KKHxnE7dz2tEWaI</string>
	<key>GCM_SENDER_ID</key>
	<string>967983553068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pongpon.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-eb5c1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-eb5c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967983553068:ios:0ee902cc34c2856d4d0f89</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-eb5c1.firebaseio.com</string>
</dict>
</plist>